@model AB_CargoServices.Models.USER_MESSAGES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}

<h2>Details</h2>

<div>
    <h4>USER_MESSAGES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MESSAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MESSAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SENT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMAIL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
